/*
	RESET & BASIC SETUP
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #ffffff;
	color: #352899;
	padding: 20px;
}

tr {
	vertical-align: top;
}

/*
	STRUCTURE
*/
.frame {
	/*width: 1500px;*/
	height:400px;
	width:400px;
	word-wrap: break-word;
}

.img_frame {
	max-width:100%;
	max-height:100%;
	margin:auto;
	display:block;
}

.description {
	font-family: Helvetica,
	sans-serif; font-size: 4em;
	letter-spacing: -1px;
	color: #ccc;
}

.scene_desc {
	font-size: 8.0em;
	color: #000;
}


/*
	TYPOGRAPHY
*/
p { font-size: 1.2em; margin: 0 0 15px 0; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: #ccc; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: #ccc; }
a { color: #0066cc; }
a:hover { color: #ccc; }