/*
	RESET & BASIC SETUP
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #ffffff;
	color: #352899;  /*todo */
	padding: 20px;
}

tr {
	vertical-align: top;
}

.frame {
	height:400px;
	width:500px;
	word-wrap: break-word;
}

.scene-change-divider-td {
    background-color: red;
    height:400px;
	width:200px;
}

.scene-change-info-td {
    height:400px;
	width:600px;
	word-wrap: break-word;
}

.img_frame {
	max-width:100%;
	max-height:100%;
	margin:auto;
	display:block;
}

.description {
	/*font-family: Helvetica,*/
	/*sans-serif; font-size: 4em;*/
	letter-spacing: -1px;
	/*color: #ccc;*/
	color: #00943E;
}

.scene_desc {
	/*font-size: 1.0em;*/
	color: #000;
	font-size: large;
}

.object_list {
	/*font-size: 1.0em;*/
	color: #000;
	font-size: large;
}

#page-wrap {
    margin-top: 40px;
}

div {
	/*font-size: 1em*/
	font-size: x-large;
}

svg {
	width: 500px;
	height: 45px;
}

/*
	TYPOGRAPHY
*/
/*p { font-size: 1.2em; margin: 0 0 15px 0; }*/
h1 { font-family: Helvetica, sans-serif; font-size: 2.5em;
							  letter-spacing: -1px; color: #ccc; }
/*h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;*/
							  /*letter-spacing: -1px; color: #ccc; }*/
a { color: #0066cc; }
a:hover { color: #ccc; }

#scene-num-slider {
    position: fixed;
}

#scroll-bar {
	height: 40px;
    width: 500px;
    background-color: blue;
    top: 10%;
    left: 50%;
    position: fixed;
    margin-top: -100px;
    margin-left: -250px;
    border-radius: 15px;
    opacity: 0.8;
}

#cur-pos {
    z-index: 100;
}

#text-part {
    z-index: 1000;
}

/*#gif1, #gif2 {*/
    /*position: absolute;*/
/*}*/

/*.frame img {*/
    /*position: absolute;*/
    /*left:0;*/
/*}*/

#gif-holder {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#gif-holder img {
  position:absolute;
  left:0;
  /*-webkit-transition: opacity 1s ease-in-out;*/
  /*-moz-transition: opacity 1s ease-in-out;*/
  /*-o-transition: opacity 1s ease-in-out;*/
  /*transition: opacity 1s ease-in-out;*/
}

/*#gif-holder img.top:hover {*/
  /*opacity:0;*/
/*}*/